*,
:before,
:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
li {
    list-style: none;
}
caption,
th {
    text-align: left;
}
q:before,
q:after {
    content: "";
}
input:password {
    ime-mode: disabled;
}
:focus {
    outline: 0;
}
html,
body {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    font:12px/1.5 tahoma,arial,sans-serif;
    /* \5B8B\4F53 is '宋体' */
    /* font:12px/1.5 tahoma,arial,"\5B8B\4F53",sans-serif; */
}

/* Remove the rectangle border when clicked on Android */
a,button,input,textarea {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
